<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Add Product - Dashboard HTML Template</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
  <!-- http://api.jqueryui.com/datepicker/ -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="css/templatemo-style.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
-->
</head>

<body>
  <div class="" id="home">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand">
          <!-- <h1 class="tm-site-title mb-0">Quản lý</h1> -->
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">

          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-tachometer-alt"></i>
              Trang chủ
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="far fa-file-alt"></i>
            <span>
              Báo cáo <i class="fas fa-angle-down"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="day">Báo cáo hàng ngày</a>
            <a class="dropdown-item" href="week">Báo cáo tuần</a>
            <a class="dropdown-item" href="month">Báo cáo tháng</a>
            <a class="dropdown-item" href="quarter">Báo cáo quý</a>
            <a class="dropdown-item" href="year">Báo cáo năm</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="employees">
            <i class="fas fa-users"></i>
            Nhân viên
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sign-up">
            <i class="fas fa-user-plus"></i>
            Tạo tài khoản
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products">
            <i class="fas fa-shopping-cart"></i>
            Sản phẩm
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-receipt"></i>
            Đơn hàng
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="account">
            <i class="far fa-user"></i>
            Tài khoản
          </a>
        </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span>
                  Thông tin<i class="fas fa-angle-down"></i>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Đăng nhập</a>
              </div>
            </li> -->
          </ul>
          <ul class="navbar-nav">
            {{#if user.name}}
            <li class="nav-item">
              <a href="/account" class="nav-link d-block">
                Chào {{user.name}}
              </a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link d-block">
                Đăng xuất
              </a>
            </li>
            {{else}}
            <li class="nav-item">
              <a href="login" class="nav-link d-block">
                Đăng nhập
              </a>
            </li>
<!--             <li class="nav-item">
              <a href="sign-up" class="nav-link d-block">
              Tạo tài khoản
              </a>
            </li> -->
            {{/if}}
<!-- 

            <li class="nav-item">
              <a class="nav-link d-block" href="/logout">
                <b>Đăng xuất</b>
              </a>
            </li> -->
          </ul>
        </div>
      </div>

    </nav>
    <br>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="msg col-lg-6">
        <!-- success msg -->
        <!-- if success msg exists -->
        {{#if success_msg}}
        <!-- show success msg -->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h1 style="font-size:20px;">{{success_msg}}</h1>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <!-- end success msg -->
        <!-- error msg -->
        <!-- if err exists -->
        {{#if error_msg }}
        <!-- show error_msg  -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h1 style="font-size:20px;">{{error_msg}}</h1>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <!-- end error msg -->
        <!-- error -->
        <!-- if err exists -->
        {{#if error }}
        <!-- show error  -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h1 style="font-size:20px;">{{error}}</h1>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <!-- end error -->
      </div>
    </div>
    {{{body}}}
  </div>

  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer>
  <script src="js/tooplate-scripts.js"></script>
</body>

</html>